/* Simple Selectors */
h1 {
  color: brown; /* set text color brown */
}
body {
  background: rgb(215, 220, 221);
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  font-size: 20px;
}
#table1 {
  background-image: url('https://cdn.pixabay.com/photo/2013/08/20/15/47/poppies-174276__340.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.heading {
  color: blueviolet;
}
p.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}
/* Combinators Selectors */
div h2 {
  background-color: mediumseagreen;
}
dl dt {
  /* descendant selector */
  font-weight: bold;
}
div > p {
  /* Child selector */
  color: orangered;
}
div + p {
  /*Adjacent sibling selector */
  font-style: italic;
}
p ~ ul {
  font-style: italic;
}
/* unvisited link */
a:link {
  color: red;
}
/* visited link */
a:visited {
  color: green;
}
/* mouse over link */
a:hover {
  color: brown;
}
/* selected link */
a:active {
  color: blue;
}
a.highlight:hover {
  color: yellow;
}
div.highlight {
  background-color: green;
  color: white;
  font-size: 25px;
  text-align: center;
}
div.highlight:hover {
  background-color: blue;
}
p#hide {
  display: none;
  background-color: yellow;
  padding: 20px;
}
div.tooltip:hover p#hide {
  display: block;
}
p:first-child {
  background-color: lightgreen;
}
